<div id="sfondo" class="container-fluid bg-success bg-gradient" style="--bs-bg-opacity: .1;">
    <div class="container py-5">
        <h3 class="display-3 text-success">
            Credits
        </h3>
        <div class="row mt-5">
            <div class="col-lg-6">
                <h1 class="display-1 text-success text-center">4Ci</h1>     
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>BORGES HERMEL ANITA</li>
                    <li>GAVATTA STEFANO</li>
                    <li>HAJDU EDWARD</li>
                    <li>HALOUACHI REDA</li>
                    <li>HAMDAOUI OMAR</li>
                    <li>KUSHNIR OLEKSANDR</li>
                    <li>LUTTERI GABRIEL</li>
                    <li>MBAYE MOUSTAPHA</li>
                    <li>MERLINI SIMONE</li>
                    <li>PACHERA TOMMASO</li>
                    <li>PARISI MARTINO</li>
                    <li>SIEFF MARCO</li>
                    <li>TOMASONI VIRGINIA</li>
                    <li>URCIUOLI FEDERICO</li>
                    <li>ZORZA JACOPO</li>
                </ul>
            </div>
        </div>
    </div>
</div>