<footer class="bd-footer py-2 py-md-2 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
            <img src="/logospotify.png" width="40" height="40">
            <span class="fs-5 px-2">Spotify searcher</span>
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">Progetto realizzato durante il corso di Informatica dalla classe 4Ci dell'<br><a href="https://marconirovereto.it" target="_blank">Istituto Tecnico Tecnologico Marconi di Rovereto.</a></li>
            <li class="mb-2">a.s. 2024/2025.</li>
            <li class="mb-2">Currently v0.1</li>
          </ul>
        </div>
        <div class="col-lg-3 mb-3">
          <h5>Angular</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://angular.dev" target="_blank">Home</a></li>
            <li class="mb-2"><a href="https://angular.dev/overview" target="_blank">Overview</a></li>
            <li class="mb-2"><a href="https://angular.dev/tutorials" target="_blank">Tutorials</a></li>
            <li class="mb-2"><a href="https://angular.dev/api" target="_blank">API Reference</a></li>            
          </ul>
        </div>
        <div class="col-lg-3 mb-3">
          <h5>Bootstrap</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://getbootstrap.com" target="_blank">Home</a></li>
            <li class="mb-2"><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Docs</a></li>
            <li class="mb-2"><a href="https://icons.getbootstrap.com/" target="_blank">Icons</a></li>
            <li class="mb-2"><a href="https://themes.getbootstrap.com/" target="_blank">Themes</a></li>
            <li class="mb-2"><a href="https://blog.getbootstrap.com/" target="_blank">Blog</a></li>           
          </ul>
        </div>
        <div class="col-lg-3 mb-3">
          <h5>Github</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/" target="_blank" rel="noopener">Home</a></li>
            <li class="mb-2"><a href="https://github.com/andreatrentini/corsoangular4ci20242025" target="_blank">Repository</a></li>
            <li class="mb-2"><a href="https://classroom.github.com/" target="_blank" rel="noopener">Classroom</a></li>            
          </ul>
        </div>        
      </div>
    </div>
  </footer>