#sfondo {
    background-image: url('/sfondo.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 750px;
}

@media(min-width: 992) {
    #sfondo {
        min-height: 60vh;
    }
}